.title{
    color: white;
    margin: 1rem;
    text-align: center;
}
.add-form-page {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    overflow-x: scroll;

    background-color: #FCA311;
}

.add-form-page .input-group{
    width: 82%;

}