*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
}

/* CONTAINER TO CENTER A MESSAGE (almost) */
.message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vmin;
}

/* STICKY AND FIXED ELEMENTS */
.sticky {
  position: sticky;
}

.fixed {
  position: fixed;
}

.sticky,
.fixed {
  width: 100%;
  background-color: var(--bg-color-sticky, white);
}

.fixed-top,
.sticky-top {
  top: 0;
}

.fixed-bottom,
.sticky-bottom {
  bottom: 0;
}
