*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --app-header-height: 70px;
  --bg-color-sticky: white;
}

html, body {
  margin: 0;
  padding: 0;
  --bs-body-bg: #2162FA;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
}

/* CONTAINER TO CENTER A MESSAGE (almost) */
.error-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vmin;
}

